{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <h1>Регистрация</h1>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}<br>
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.user_.label }}<br>
                            {{ form.user_(size=32) }}<br>
                            {% for error in form.user_.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.email.label }}<br>
                            {{ form.email(size=64) }}<br>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}<br>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password2.label }}<br>
                            {{ form.password2(size=32) }}<br>
                            {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ (captcha_html(captcha)) | safe }}</p>
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>
        <div class="col-3"></div>
        </div>
	</main>
{% endblock %}