{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <h1>Список группы {{ gr_name }}</h1>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Имя пользователя</th>
                                {% for i in range(tests|length) %}
                                    <th scope="col">{{ tests[i].test_name }} <br>{{ tests[i].time_added.strftime('%d.%m.%Y') }}
                                    </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for usr in users %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('showuser_result', usr=usr.username) }}">{{ usr.user_ }}</a>
                                </td>

                            {% for i in range(tests|length) %}
                                <td>
                                {% set tsts = all_tests[usr.user_id].keys() | list %}

                                    {% if tests[i].test_id in all_tests[usr.user_id] %}
                                        {{ all_tests[usr.user_id][tests[i].test_id][0] }} %<br>
                                        {{ all_tests[usr.user_id][tests[i].test_id][1] }} баллов
                                    {% else  %}
                                        <p>Не выполнялся</p>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="col-3"></div>
        </div>
	</main>
{% endblock %}