{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% if current_user.role == 2 %}
                    <h2>{{ title }}</h2>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                        {{ form.video_link.label }}<br>
                        {{ form.video_link(size=64, maxlenght=50) }}
                    </p>
                        <p>
                        {{ form.video_name.label }}<br>
                        {{ form.video_name(size=64) }}
                    </p>
                        <p>
                        {{ form.video_text.label }}<br>
                        {{ form.video_text(size=64) }}
                    </p>
                <p>{{ form.submit() }}</p>
                </form>


                {% else %}
                    <h1>У вас нет доступа к этой странице!</h1>
                {% endif %}

                </div>
        <div class="col-2"></div>
        </div>
        </div>
	</main>
{% endblock %}