{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
            <div class="col-6">

                {% if current_user.role == 2 %}
                    <h2>Список групп</h2>
                    <ul>
                    {% for group in groups %}
                        <li><a href="{{ url_for('adminpage_groups', group=group.group_id) }}">{{ group.gr_name }}</a></li>
                    {% endfor %}
                    </ul>

                    <p><a href="{{ url_for('newgroup') }}">Добавить группу</a></p>
                    <h2>Список пользователей</h2>
                    <ul>
                    {% for usr in usrs %}
                        <li><a href="{{ url_for('adminpage_edit_user', username=usr.username) }}">{{ usr.user_ }}</a></li>
                    {% endfor %}
                    </ul>
                    <p><a href="{{ url_for('adminpage_newtest') }}">Добавить тест</a> </p>
                    <h2>Список тестов</h2>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Номер теста</th>
                            <th>id</th>
                            <th>Название</th>
                            <th>Дата добавления</th>
                            <th>Количество прохождений</th>
                            <th>Средний балл</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>


                    </thead>
                    <tbody>
                    {% for i in range(tests|length) %}
                        <tr id="tr_{{ tests[i].test_id }}">
                            <td>{{ i + 1 }}</td>
                            <td class="change_id">{{ tests[i].test_id }}</td>
                            <td>{{ tests[i].test_name }}</td>
                            <td>{{ tests[i].time_added.strftime('%d.%m.%Y') }}</td>
                            <td>{{ tests[i].test_starts_number }}</td>
                            <td>{{ tests[i].test_avg_result }}</td>
                            <td><a href="{{ url_for('adminpage_configtest', t_id=tests[i].test_id) }}">Изменить</a></td>
                            <td><a href="#" class="delete_link">Удалить</a></td>
                            <td>
                                {% if tests[i].test_hidden %}
                                    <a id="a_{{ tests[i].test_id }}" href="#" class="change_link">Скрыть</a>
                                {% else %}
                                    <a id="a_{{ tests[i].test_id }}" href="#" class="change_link">Показать</a>
                                {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <p><a href="{{ url_for('adminpage_addvideo') }}">Добавить видео</a></p>
                {% else %}
                    <h1>У вас нет доступа к этой странице!</h1>
                {% endif %}

                </div>
        <div class="col-3"></div>
        </div>
	</main>
{% endblock %}