<div id="message"></div>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand ml-auto" href="{{ url_for('index') }}">Эмулятор КЕГЭ по информатике</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                {%  if request.url.split('/')[-1] != 'test'  %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="index" href="{{ url_for('index') }}">На главную</a>
					</li>
                {%  endif %}
                    <!---->
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
						<a class="nav-link" aria-current="test_list" href="{{ url_for('test_list') }}">Тест</a>
					</li>
                {% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Личный кабинет
						</a>
						<ul class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
                            {% if current_user.is_authenticated %}
                                <!--TODO настроить позже-->
                                {% if current_user.role == 3 %}
                                <li><a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Ученик</a></li>
                                    {% endif %}
                                {% if current_user.role == 5 %}
                                <li><a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Родитель</a></li>
                                    {% endif %}
                                {% if current_user.role == 4 or current_user.role == 2 %}
                                <li><a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Учитель</a></li>
                                    {% endif %}
                                {% if current_user.role == 2 %}
                                <li><a class="dropdown-item" href="{{ url_for('adminpage') }}">Администратор</a></li>
                                    {% endif %}
                                <li><a class="dropdown-item" href="{{ url_for('edit_profile') }}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ url_for('login') }}">Войти</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('register') }}">Регистрация</a></li>
                            {% endif %}
						</ul>
					</li>
                    {% if request.url.split('/')[-2] == 'test' %}

					<li class="nav-item">
						<a class="nav-link active" href="#" id="endtest" onclick="finish_test()">Завершить</a>
					</li>
                    <li>
					<span class="navbar-text">Оставшееся время - </span><span id="my_timer" class="navbar-text" style="color:red">
                        {{ time_left }}
                    </span>
					</li>
                    {% endif %}

                </ul>
			</div>
		</div>
	</nav>

{% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div style="position: fixed;">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul></div>
                {% endif %}
                {% endwith %}