<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand ml-auto" href="#">Эмулятор КЕГЭ по информатике</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">На главную</a>
					</li>
                    <!--TODO удалить потом -->
                    <li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Войти</a>
					</li>
                    <!---->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Личный кабинет
						</a>
						<ul class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Ученик</a></li>
							<li><a class="dropdown-item" href="#">Родитель</a></li>
							<li><a class="dropdown-item" href="#">Учитель</a></li>
						</ul>
					</li>


					<li class="nav-item">
						<a class="nav-link active" href="#" id="endtest">Завершить</a>
					</li>
					<span class="navbar-text">Оставшееся время - </span><span id="my_timer" class="navbar-text" style="color:red">03:55:00</span>
					</li>

                </ul>
			</div>
		</div>
	</nav>

{% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div style="position: fixed;">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul></div>
                {% endif %}
                {% endwith %}