{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if not(current_user.is_authenticated) %}

                    <p><a href="{{ url_for('login') }}">Войдите на сайт</a></p>
                {% else %}
                    <h1>Hi, {{ current_user.username }}!</h1>
                {% endif %}

                </div>
        </div>
	</main>
{% endblock %}