{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8" style="text-align: center">
                <h2 style="padding-bottom: 100px">Вы хотите потренироваться? Пройдите тест в нашем эмуляторе ЕГЭ</h2>
                {% if not(current_user.is_authenticated) %}

                    <p><a href="{{ url_for('login') }}">Войдите на сайт</a></p>
                    <p><a href="{{ url_for('register') }}">Регистрация</a></p>
                {% else %}
                    <h3>Hi, {{ current_user.username }}!</h3>
                    <p><a href="{{ url_for('user', username=current_user.username) }}">Личный кабинет</a></p>
                    <p><a href="{{ url_for('edit_profile') }}">Изменить профиль</a></p>
                    <p><a href="{{ url_for('test_list') }}">Перейти к выбору и просмотру тестов</a></p>

                {% endif %}

            </div>
            <div class="col-xl-2"></div>
        </div>
    <div class="row">
        <div class="col-xl-2 col-lg-2"></div>
        <div class="col-xl-8 col-lg-8">
            <h2>Новости</h2>
        </div>
        <div class="col-xl-2 col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-2"></div>

            {% for new in news %}
            <div class="col-xl-2 col-lg-2 col-md-12 col-xs-12">
                <h3>{{ new.news_title }}</h3>
                <p>{{ new.news_text }}</p>
                <p>{{ new.new_date.strftime('%d.%m.%Y') }}</p>
            </div>
            {% endfor %}

        <div class="col-xl-2 col-lg-2"></div>
    </div>
	</main>
{% endblock %}