{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <h1>{{ title }}</h1>
            <table>

                {% for task in tasks %}
                    <tr>
                        <td>
                            <h3>Задание {{ task_number }}.</h3>
                            <p>{{ task_text }}</p>
                            <p><a href="#">Ответ должен быть тут</a></p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            </div>
        </div>
	</main>
{% endblock %}