{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <h1>Тесты пользователя {{ usr.user_ }}</h1>
                <ul class="course_list">
                    {% for test in tests %}
                        <li><a href="{{ url_for('showresult', try_id=test.try_id) }}">{{ test.test_name }} </a>
                            Завершен -
                            {% if test.time_end != None %}
                                {{ test.time_end.strftime('%d.%m.%Y') }}
                            {% else %}
                                <span style="color: red">не завершен</span>
                            {% endif %}
                            - {{ test.primary_mark }} баллов - {{ test.final_mark }} баллов</li>
                    {% endfor %}
                </ul>

            </div>
        <div class="col-3"></div>
        </div>
	</main>
{% endblock %}