{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <a href="{{ url_for('test_list') }}">К списку тестов</a>  <a href="{{ url_for('user', username=current_user.username) }}">В личный кабинет</a>
                <h1>Результаты теста {{ test_name }} пользователя {{ usr }}</h1>
                <table class="showresult">
                    <tr><td>№ п/п</td><td>Балл</td><td>Ответ</td><td>Верный ответ</td></tr>
                {% set summ = 0 %}
                    {% for i in range(1,28) %}
                        {% set ans = 0 %}
                        {% set color='red'%}
                        {% if currentAnswers[i-1] == test[i-1] %}
                            {% set ans=1 %}
                            {% set color='green'%}
                            {% set summ = summ + 1 %}
                        {%  endif %}
                    <tr style="background-color: {{ color }}">
                        <td>{{ i }}</td>
                        <td>{{ ans }}
                        </td>
                        <td>{{ currentAnswers[i-1] }}</td>
                        <td>{{ test[i-1] }}</td>
                    </tr>

                    {%  endfor %}
                    <tr>
                        <td>Сумма</td>
                        <td>{{ summ }}</td>
                        <td>Итог</td>
                        <td>{{ mark }}</td>
                    </tr>
                </table>
            </div>
        <div class="col-3"></div>
        </div>
	</main>
{% endblock %}