<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/testscript.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>-->
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}

</head>


<body{% block teststart %}{% endblock %}>
	{% include 'header.html' %}

				{% block content %}

                {% endblock %}

	{% include 'footer.html' %}

</body>

</html>