{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block teststart %} onload="startTimer()"{% endblock %}
{% block content %}
	<main class="container-fluid">
		<div class="row">
			<div class="col-xl col-lg col-sm-none mn">
				<ul id="topliti">
					<li id="litiup" style="background-color: aliceblue;">
						<span id="tiup">&#8593</span>
					</li>
				</ul>
				<div id="tasks">
					<ul>
                          {% for i in range(28) %}
                              {% if i == 0 %}
                                  <li class="liti" id="tii" onclick="butcklick({{ i }})"><span>{{ 'i' }}</span></li>
                              {% else %}
                                  <li class="liti" onclick="butcklick({{ i }})"><span>{{ i }}</span></li>
                              {% endif %}
                          {% endfor %}

					</ul>
				</div>
				<ul id="bottomliti">
					<li id="litidn"><span id="tidn">&#8595</span></li>
				</ul>
			</div>
			<div class="col-xl-11 col-lg-11 col-sm-12" id="taskfield">
				<div class="row">
					<ul>
                        <li style="display:inline-block; margin-right:35%"><a href=# id=prevbutton onclick="previous()" style="display:none;">К предыдущему</a></li>
                        <li style="display:inline-block; margin-left:35%"><a href=# id=nextbutton onclick="next()">К следующему</a></li>
                    </ul>
				</div>
                {% for i in range(28) %}
                {% if i == 0 %}
                <div class="slide" style="display:block">
                    <div class="task-content row">
                        <div class="col-12">
                            {% include 'hellopage.html' %}
                        </div>

                    </div>


                </div>
                {% else %}
                <div class="slide" style="display:none">
                    <div class="task-content row">
                        <div class="col-xl-9 col-lg-9 col-sm-9 col-xs-12 tsk">
                            <h2>Задание {{ i }}</h2>
                            <p><img src="https://kege.it-generation.ru/tasks/{{ test_path}}/{{i}}.png"</p>
                        </div>

                        <div class="ansmany col-xl-3 col-lg-3 col-sm-3 col-xs-none">
                            {% if i in (26,27) %}
                            <!--
                            <form class="fm">

                                <table>
                                    <tr>
                                        <td><input type="text" name="ans1"></td>
                                        <td><input type="text" name="ans2"></td>
                                    </tr>
                                </table>
                                <input type="hidden" name="q_num" value="27">
                                <input type="submit" class="sub" text="Отправить">
                            </form>
                            -->
                            <form method="POST" class="fm" id="form{{ i }}">
                                {{ answerTwoForm.hidden_tag() }}
                                <p>{{ answerTwoForm.answerField1 }}
                                {{ answerTwoForm.answerField2 }}</p>
                                {{ answerTwoForm.answerNumber(value=i) }}
                                <p>{{ answerTwoForm.submit() }}</p>
                            </form>

                                {% elif i == 25 %}
                                <!--
                                <form id="fm25" class="fm">

                                <table>
                                    <tr>
                                        <td><input type="text" name="ans1"></td>
                                        <td><input type="text" name="ans2"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="ans3"></td>
                                        <td><input type="text" name="ans4"></td>
                                    </tr>
                                </table>

                                <input type="hidden" name="q_num" value="27">
                                <input type="submit" class="sub" text="Отправить">
                            </form>
                            -->
                            <form method="POST" class="fm" id="form{{ i }}">
                                {{ answerManyForm[i].hidden_tag() }}
                                <p>{{ answerManyForm[i].answerField1 }}
                                {{ answerManyForm[i].answerField2 }}</p>
                                <p>{{ answerManyForm[i].answerField3 }}
                                {{ answerManyForm[i].answerField4 }}</p>
                                {{ answerManyForm[i].answerNumber(value=i) }}
                                <p>{{ answerManyForm[i].submit() }}</p>
                            </form>
                                {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="file col-xl-9 col-lg-9 col-sm-9 col-xs-12">
                                {% if i in (2,9) %}

                            <ul>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/0{{i}}.xlsx" download>Скачать файл</a></li>
                            </ul>
                                {% elif i == 18 %}
                            <ul>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/{{i}}.xlsx" download>Скачать файл</a></li>
                            </ul>
                                {% elif i == 10 %}
                            <ul>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/10/10.docx" download>Скачать файл</a></li>
                            </ul>
                                {% elif i in (17,24,26) %}
                            <ul>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/{{i}}.txt" download>Скачать файл</a></li>
                            </ul>
                                {% elif i == 27 %}
                            <ul>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/27-A.txt" download>Скачать файл A</a></li>
                                <li><a href="https://kege.it-generation.ru/tasks/{{ test_path}}/files/27-B.txt" download>Скачать файл B</a></li>
                            </ul>
                                {% endif %}
                        </div>
                        <div class="ansone col-xl-3 col-lg-3 col-sm-3 col-xs-none">
                            {%  if i not in (25,26,27) %}
                             <!--<form id="fm0" class="fm">
                                <input type="text" name="ans1">
                                <input type="hidden" name="q_num" value="0">
                                <input type="submit" class="sub" text="Отправить">
                            </form>-->
                            <form method="POST" class="fm" id="form{{ i }}">
                                {{ answerSimpleForm[i].hidden_tag() }}
                                {{ answerSimpleForm[i].answerField() }}
                                {{ answerSimpleForm[i].answerNumber(value=i) }}
                                {{ answerSimpleForm[i].submit() }}
                            </form>
                                {% endif %}
                        </div>
                    </div>

                </div>
                {% endif %}
            {% endfor %}
            </div>
		</div>
	</main>
{% endblock %}
