{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <img src="{{ user.avatar(128) }}">
                <h1>Пользователь: {{ user.username }}</h1>

                {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
            {% if user.user_ %}
                    <p>Ваше имя: {{ user.user_ }}</p>
                {% endif %}
            {% if user.role %}
                    <p>Ваш статус: {{ role }}</p>
                {% endif %}
            {%  if user == current_user or current_user.role == 2 %}
                <p><a href="{{ url_for('edit_profile', username=user.username) }}">Редактировать профиль</a></p>
            {%  endif %}
            {%  if user == current_user and user.role == 2 %}
                <p><a href="{{ url_for('adminpage') }}">Администрирование сайта</a></p>
            {%  endif %}


            </div>
            <div class="col-3"></div>
        </div>
	</main>
{% endblock %}