{% extends"template.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <img src="{{ user.avatar(128) }}">
                <h1>Пользователь: {{ user.username }}</h1>

                {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
            {% if user.user_ %}
                    <p>Ваше имя: {{ user.user_ }}</p>
                {% endif %}
            <p>Ваше email: {{ user.email }}</p>
            {% if user.role %}
                    <p>Ваш статус: {{ role }}</p>
                {% endif %}
            {%  if user == current_user or current_user.role == 2 %}
                <p><a href="{{ url_for('edit_profile') }}">Редактировать профиль</a></p>
            {%  endif %}
            {%  if user == current_user and user.role == 2 %}
                <p><a href="{{ url_for('adminpage') }}">Администрирование сайта</a></p>
            {%  endif %}
            </div>
        <div class="col-3">

            {% if user == current_user and user.role in (2, 4) %}
                <h3>Просмотр результатов учеников</h3>
                <h4>Группы</h4>
                <ul class="course_list">
                {% for group in admin_users_info['groups'] %}
                    <li><a href="{{ url_for('showgroup', gr=group.group_id) }}">{{ group.gr_name }}</a></li>
                {% endfor %}
                </ul>
                <h4>Ученики вне групп</h4>
                <ul class="course_list">
                {% for usr in admin_users_info['users'] %}
                    <li><a href="{{ url_for('showuser_result', usr=usr.username) }}">{{ usr.username }}</a></li>
                {% endfor %}
                </ul>
                <h3>Тесты</h3>

                    <p><a href="{{ url_for('adminpage_newtest') }}">Добавить тест</a> </p>
                    <h2>Список тестов</h2>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Номер теста</th>
                            <th>id</th>
                            <th>Название</th>
                            <th>Дата добавления</th>
                            <th>Количество прохождений</th>
                            <th>Средний балл</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in range(tests|length) %}
                        <tr id="tr_{{ tests[i].test_id }}">
                            <td>{{ i + 1 }}</td>
                            <td class="change_id">{{ tests[i].test_id }}</td>
                            <td>{{ tests[i].test_name }}</td>
                            <td>{{ tests[i].time_added.strftime('%d.%m.%Y') }}</td>
                            <td>{{ tests[i].test_starts_number }}</td>
                            <td>{{ tests[i].test_avg_result }}</td>
                            <td><a href="{{ url_for('adminpage_configtest', t_id=tests[i].test_id) }}">Изменить</a></td>
                            <td><a href="#" class="delete_link">Удалить</a></td>
                            <td>
                                {% if tests[i].test_hidden %}
                                    <a id="a_{{ tests[i].test_id }}" href="#" class="change_link">Скрыть</a>
                                {% else %}
                                    <a id="a_{{ tests[i].test_id }}" href="#" class="change_link">Показать</a>
                                {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                <h3>Просмотр домашних заданий</h3>
                <p><a href="{{ url_for('hometasks_show', task='all') }}">Просмотр отдельных заданий</a></p>


            {% endif %}
                <p><a href=#>Ваши домашние задания</a></p>
            <p><a href="{{ url_for('test_list') }}">Просмотр готовых тестов</a></p>

            </div>
            <div class="col-3"></div>
        </div>
	</main>
{% endblock %}